<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>ecupt Sant&apos;Anna e San Sebastiano Caserta</string>
	<key>CFBundleIdentifier</key>
	<string>com.gesan.ecupt.sabcaserta</string>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access location when open and in the background.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Need location for geolocator plugin.</string>
	<key>RequestWhenInUseAuthorization</key>
	<string>Need location for geolocator plugin.</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Media.xcassets/Icone dell&apos;app.appiconset</string>
	<key>CFBundleName</key>
	<string>MCup</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>ecuptservice.ak12srl.it</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>New Entry</string>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>Custom Property</key>
	<string></string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>NSCalendarsUsageDescription</key>
	<string>$(PRODUCT_NAME) calendar events</string>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Media.xcassets/Immagini di avvio.launchimage</string>
</dict>
</plist>
